<%- include('partials/header'); -%>

<h1>Compose</h1>

<input class="compose-box" type="text">
<button type="button" class="btn btn-outline-secondary">Publish</button>

<%- include('partials/footer'); -%> 